body {
    text-align: center;
}

body h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

input {
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(21, 64, 184);
    color: white;
    outline: none;
}

label {
    font-size: 25px;
}

button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(0, 170, 128);
    color: white;
    cursor: pointer;
    outline: none;

}

button:hover {
    background-color: rgb(4, 100, 76);
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    word-wrap: break-word;
    /* Permite que las palabras largas se dividan y salten a la siguiente línea */
    overflow-wrap: break-word;
    /* Compatible con navegadores que no soportan word-wrap */
    white-space: normal;
    /* Asegura que el texto se ajuste a múltiples líneas */
    width: 100%;
    /* Asegúrate de que ocupe todo el ancho disponible */
    margin-top: 20px;
    /* Espacio superior opcional */
    /* Centra el texto, opcional */
    background-color: aliceblue;
    border-radius: 50px;
    padding: 10px;
}