body {
    text-align: center;
    background-color: rgb(0, 204, 255);
}
body h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgb(15, 221, 152) -5px 5px;
    
}
label {
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}
input {
    width: 80%;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(153, 232, 252);
    box-shadow: rgb(14, 158, 194) -5px 5px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#fibonacciBtn{
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    box-shadow: rgb(15, 221, 152) -5px 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    box-sizing: border-box;
    
}

#fibonacciBtn:hover{
    background-color: rgb(6, 226, 153);
}

#resultado {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    word-wrap: break-word; /* Permite que las palabras largas se dividan y salten a la siguiente línea */
    overflow-wrap: break-word; /* Compatible con navegadores que no soportan word-wrap */
    white-space: normal; /* Asegura que el texto se ajuste a múltiples líneas */
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    margin-top: 20px; /* Espacio superior opcional */
    text-align: center; /* Centra el texto, opcional */
    background-color: rgb(153, 232, 252);
    box-shadow: rgb(14, 158, 194) -5px 5px;
    border: none;
    border-radius: 5px;
}

